/* remove default properties ?? */

body {
  overflow-x: hidden;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
body {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* page design  */
.main-container {
  width: 100%;
}


/* Common Items */
.red {
    color: #e93656;
  }

  
/* section slider-01 */
.slider {
  width: 100%;
  min-height: 100vh;
  max-width: 100vw;
  background-color: grey;
}
.logo {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
  padding-top: 48px;
  padding-left: 52px;
}
.logo h4 {
  text-align: left;
  letter-spacing: 1.2px;
  color: #1a1a1a;
  font-family: Poppins-ExtraBold;
  font-size: 40px;
}
.logo h6 {
  text-align: left;
  letter-spacing: 0px;
  color: #b3b3b3;
  font-family: Montserrat-Regular;
  font-size: 13px;
}
.logo h4 span {
  color: blue;
}

#slider-about {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 82px;
  font-family: Poppins-ExtraBold;
  font-size: 43px;
}

.description {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  justify-content: flex-start;
  margin-top:117px;
  margin-bottom: 100px;
}
.description div {
  width: 50%;
}
.description img {
  width: 300px;
}

.satisfied {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  width: 100%;
  justify-content: flex-start;
  padding-right: 97px;
}

.satisfied p {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.satisfied div div {
  background: #e93656 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 6px;
  width: 340px;
}


/* Section - Portfolio */
#portfolio-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#portfolio{
    min-height: 80%;
    display: flex;
    flex-direction: row;
}
#portfolio div{
    width: 20%;
    border: 1px solid red;
}
#contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 20%;
    background: #131A36 0% 0% no-repeat padding-box;
}
#contact div{
    display: flex;
    color: aliceblue;
    min-width: 20%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
}